*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    margin: 40px;
}
h1{
    text-align: center;
    padding-bottom: 40px;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    display: flex;
    border: 4px solid black;
    background-color: gray;
    flex-direction: column;
    width: 32%;
}
.head{
    border: 3px solid black;
    border-top:none;border-right: none;
    align-self: flex-end;
    padding:5px 20px;
    font-size: 20px;
    font-weight: 600;
    width: 40%;
    text-align: center;
}
.card p{
    margin: 20px;
    font-size: 17px;
}
#html{
    background-color: pink;
}
#css{
    background-color: brown;
    color: white;
}
#js{
    background-color: yellow;
}
@media(max-width:991px) and (min-width:768px){
    .first, .sec{
        width: 48%;
        margin-bottom: 20px;
    }
    .third{
        width: 100%;
    }
}
@media(max-width:768px){
    .container{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .card{
        width: 90%;
    }
}